<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		 version="3.0">

	<display-name>Jetty JMX Configuration Example</display-name>


	<servlet>
		<servlet-name>JCGServlet</servlet-name>
		<servlet-class>me.giorgirokhadze.hello.jmx.jetty.JCGServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>JCGServlet</servlet-name>
		<url-pattern>/jcg/*</url-pattern>
	</servlet-mapping>


</web-app>